# mariadb root password
DBPASS=exampleofpassword
DBUSER=exampleofuser
DBNAME=messeges
DBHOST=127.0.0.1
DBPORT=3306

# SMTP server configuration
SMPTSERVER=send.ahasend.com
EMAILPORT=587
EMAILUSERNAME=YOUR_SMTP_USERNAME
EMAILPASSWORD=YOUR_SMTP_PASSWORD
